<a href="https://www.kaggle.com/code/pratikguha/titanic-model?scriptVersionId=237900688" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [745]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [746]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [747]:
df_train = pd.read_csv("/kaggle/input/titanic/train.csv")

In [748]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [749]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [750]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [751]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [752]:
df_train.duplicated().sum()

0

In [753]:
df_train.shape

(891, 12)

In [754]:
df_train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [755]:
df_train.dropna().shape

(183, 12)

In [756]:
df_train.dropna(axis=1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

In [ ]:
sns.histplot(df_train['Age'],kde=True)

/usr/local/lib/python3.11/dist-packages/seaborn/_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

In [ ]:
df_train['Age_mean'] = df_train['Age'].fillna(df_train['Age'].mean())

In [ ]:
df_train[['Age_mean','Age']]

In [ ]:
df_train['Age_median'] = df_train['Age'].fillna(df_train['Age'].median())

In [ ]:
df_train[['Age_median','Age_mean','Age']]

In [ ]:
df_train.head(4)

In [ ]:
df_train.isnull().sum()

In [ ]:
df_train[df_train['Cabin'].isnull()]

In [ ]:
df_train['Cabin'].unique()

In [ ]:
mode_value= df_train [df_train['Cabin'].notna()]['Cabin'].mode()[0]

In [ ]:
df_train['Cabin_mode'] = df_train['Cabin'].fillna(mode_value)

In [ ]:
df_train[['Cabin_mode','Cabin']]

In [ ]:
df_train['Cabin_mode'].isnull().sum()

In [ ]:
df_train.isnull().sum()

In [ ]:
df_train[df_train['Embarked'].isnull()]

In [ ]:
df_train['Embarked'].unique()

In [ ]:
mode_value_em= df_train [df_train['Embarked'].notna()]['Embarked'].mode()[0]

In [ ]:
df_train['Embarked_mode'] = df_train['Embarked'].fillna(mode_value_em)

In [ ]:
df_train.isnull().sum()

In [ ]:
df_train.drop(columns=['Age','Cabin','Embarked','Age_mean'],inplace=True)

In [ ]:
df_train.isnull().sum()

In [ ]:
df_train.head(2)

In [ ]:
df_train['Title'] = df_train['Name'].str.extract(' ([A-Za-z]+)\.',expand=False)

In [ ]:
df_train.head(2)

In [ ]:
df_train['Title'].unique()

In [ ]:
df_train['Title'] = df_train['Title'].replace({'Mlle':'Miss','Ms':'Miss','Mme':'Mrs'})

In [ ]:
df_train.drop(columns=['Name'],inplace=True)

In [ ]:
df_train

In [ ]:
sns.boxplot(df_train)

In [ ]:
Q1 = df_train['Fare'].quantile(0.25)
Q3 = df_train['Fare'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_train = df_train[(df_train['Fare'] >= lower_bound) & (df_train['Fare'] <= upper_bound)]

In [ ]:
sns.boxplot(df_train)

In [ ]:
df_train.info()

In [ ]:
df_train.head()

In [ ]:
df_train

In [ ]:
df_train['Sex'].unique()

In [792]:

pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.11/dist-packages (2.7.0)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.26.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn<1.6.0,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.15.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (0.14.4)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy>=1.14.0->category_encoders) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy>=1.14.0->category_encoders) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy>=1.14.0->category_encoders) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy>=1.14.0->category_encoders) (2025.1.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy>=1.14.0->category_encoders) (2022.1.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy>=1.14.0->category_encoders) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from scikit-learn<1.6.0,>=1.0.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn<1.6.0,>=1.0.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy>=1.14.0->category_encoders) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy>=1.14.0->category_encoders) (2022.1.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy>=1.14.0->category_encoders) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy>=1.14.0->category_encoders) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy>=1.14.0->category_encoders) (2024.2.0)
Note: you may need to restart the kernel to use updated packages.

In [793]:
df_train

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Ticket,Fare,Age_median,Cabin_mode,Embarked_mode,Title
0,1,0,3,male,1,0,A/5 21171,7.2500,22.0,B96 B98,S,Mr
2,3,1,3,female,0,0,STON/O2. 3101282,7.9250,26.0,B96 B98,S,Miss
3,4,1,1,female,1,0,113803,53.1000,35.0,C123,S,Mrs
4,5,0,3,male,0,0,373450,8.0500,35.0,B96 B98,S,Mr
5,6,0,3,male,0,0,330877,8.4583,28.0,B96 B98,Q,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,0,0,211536,13.0000,27.0,B96 B98,S,Rev
887,888,1,1,female,0,0,112053,30.0000,19.0,B42,S,Miss
888,889,0,3,female,1,2,W./C. 6607,23.4500,28.0,B96 B98,S,Miss
889,890,1,1,male,0,0,111369,30.0000,26.0,C148,C,Mr
890,891,0,3,male,0,0,370376,7.7500,32.0,B96 B98,Q,Mr

In [794]:
import category_encoders as ce

encoder = ce.BinaryEncoder(cols=['Sex'])

df_train = encoder.fit_transform(df_train)

In [ ]:
df_train

,PassengerId,Survived,Pclass,Sex_0,Sex_1,SibSp,Parch,Ticket,Fare,Age_median,Cabin_mode,Embarked_mode,Title
0,1,0,3,0,1,1,0,A/5 21171,7.2500,22.0,B96 B98,S,Mr
2,3,1,3,1,0,0,0,STON/O2. 3101282,7.9250,26.0,B96 B98,S,Miss
3,4,1,1,1,0,1,0,113803,53.1000,35.0,C123,S,Mrs
4,5,0,3,0,1,0,0,373450,8.0500,35.0,B96 B98,S,Mr
5,6,0,3,0,1,0,0,330877,8.4583,28.0,B96 B98,Q,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,1,0,0,211536,13.0000,27.0,B96 B98,S,Rev
887,888,1,1,1,0,0,0,112053,30.0000,19.0,B42,S,Miss
888,889,0,3,1,0,1,2,W./C. 6607,23.4500,28.0,B96 B98,S,Miss
889,890,1,1,0,1,0,0,111369,30.0000,26.0,C148,C,Mr
890,891,0,3,0,1,0,0,370376,7.7500,32.0,B96 B98,Q,Mr

In [ ]:
df_train['Title'].unique()

array(['Mr', 'Miss', 'Mrs', 'Master', 'Don', 'Rev', 'Dr', 'Major', 'Lady',
       'Sir', 'Col', 'Jonkheer'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [ ]:
df_train['Title'] = le.fit_transform(df_train['Title'])

In [ ]:
df_train

In [ ]:
df_train['Cabin_mode'].unique()

In [ ]:
df_train['Deck'] = df_train['Cabin_mode'].str[0]

In [ ]:
df_train

In [ ]:
df_train['Deck'].unique()

In [ ]:
df_train['Deck'] = le.fit_transform(df_train['Deck'])

In [ ]:
df_train

In [ ]:
df_train['Embarked_mode'].unique()

In [ ]:
df_train['Embarked_mode'] = le.fit_transform(df_train['Embarked_mode'])

In [ ]:
df_train

In [ ]:
df_train=df_train.drop('Cabin_mode',axis=1)

In [ ]:
df_train['Ticket'].unique()

In [ ]:
df_train.info()

In [ ]:
df_train

In [ ]:
df_train['Ticket_Prefix'] = df_train['Ticket'].str.extract(r'([a-zA-Z]+)')
df_train['Ticket_Prefix'] = df_train['Ticket_Prefix'].fillna(value='No_Prefix')

In [ ]:
df_train

In [ ]:
df_train['Ticket_Prefix'].value_counts()

In [ ]:
df_train['Ticket_Prefix'].unique()

In [ ]:
df_train['Ticket'] = le.fit_transform(df_train['Ticket_Prefix'])

In [ ]:
df_train

In [ ]:
df_train=df_train.drop('Ticket_Prefix',axis=1)

In [ ]:
df_train=df_train.drop('Ticket_Prefix_Encoded',axis=1)

In [ ]:
df_train

In [ ]:
df_train

In [ ]:
df_test = pd.read_csv("/kaggle/input/titanic/test.csv")

In [ ]:
df_test

In [ ]:
df_gender = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")

In [ ]:
df_gender

In [ ]:
df_train

In [ ]:
df_test

In [ ]:
df_test.describe()

In [ ]:
df_test.info()

In [ ]:
df_test.isnull().sum()

In [ ]:
df_test.duplicated().sum()

In [ ]:
df_test.shape

In [ ]:
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].mean())

In [ ]:
df_test

In [ ]:
df_test.isnull().sum()

In [ ]:
mode_value= df_test [df_test['Cabin'].notna()]['Cabin'].mode()[0]

In [ ]:
df_test['Cabin'] = df_test['Cabin'].fillna(mode_value)

In [ ]:
df_test

In [ ]:
df_test.isnull().sum()

In [ ]:
df_test

In [ ]:
df_test.isnull().sum()

In [ ]:
df_test["Fare"].fillna(df_test["Fare"].mode()[0],inplace=True)

In [ ]:
df_test.isnull().sum()

In [ ]:
df_test

In [ ]:
df_test['Title'] = df_test['Name'].str.extract(' ([A-Za-z]+)\.',expand=False)

In [ ]:
df_test

In [ ]:
df_test['Title'] = df_test['Title'].replace({'Mlle':'Miss','Ms':'Miss','Mme':'Mrs'})

In [ ]:
df_test.drop(columns='Name',inplace=True)

In [ ]:
df_test

In [ ]:
df_test = encoder.fit_transform(df_test)

In [ ]:
df_test

In [ ]:
df_test['Title'] = le.fit_transform(df_test['Title'])

In [ ]:
df_test.head()

In [ ]:
df_test['Embarked'].unique()

In [ ]:
df_test['Embarked'] = le.fit_transform(df_test['Embarked'])

In [ ]:
df_test

In [ ]:
df_test['Ticket_Prefix'] = df_test['Ticket'].str.extract(r'([a-zA-Z]+)')
df_test['Ticket_Prefix'] = df_test['Ticket_Prefix'].fillna(value='No_Prefix')

In [ ]:
df_test['Ticket'] = le.fit_transform(df_test['Ticket_Prefix'])